<i class=" right material-icons modal-action modal-close">clear</i>
<h4>Commentaires</h4>
<hr>
<br>
{% if comments|length > 0 %}
<ul class="collection ">
    {% for c in comments %}

        <li class="collection-item avatar">
            {% if c.id_user == user%}
                <i class="material-icons right">delete</i>
            {% endif %}
            <a href="/profil/{{ c.username }}">
                <img src="/{{ c.profil_picture }}" alt="" class="circle">
                <span class="title">@{{ c.username }}</span></a>
            <p>{{ c.comment }}</p>
            <p class="right">Le 18/05/2909</p>
        </li>
    {% endfor %}
</ul>
{% else %}
<p class="center">Aucun commentaire pour le moment ...</p>
{% endif %}