<!doctype html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="css/css.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KebabStagram</title>
</head>

<body>

<ul id="dropdown1" class="dropdown-content ">
    <li><a href="profil" class="blue-text">Voir</a></li>
    <li class="divider blue"></li>
    <li><a href="editprofil" class="blue-text">Editer</a></li>
    <li class="divider blue"></li>
    <li><a href="logout" class="blue-text">Deconnexion</a></li>
</ul>


<nav>
    <div class="nav-wrapper blue ">
        <a href="/" class="brand-logo">Kebabstagram</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right valign-wrapper hide-on-med-and-down">
            <li><form action="search"  style="margin-right: 5px" class="center-align" method="get"><input type="text"  placeholder="Recherche #Tag ou @User" name="recherche" id="recherche"></form></li>
            {% if user is null %}
                <li><a href="login">Connexion</a></li>
                <li><a href="signup">Inscription</a></li>
            {% else %}

                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><img src="https://avatars1.githubusercontent.com/u/49341?v=3&s=40" alt="" class="circle responsive-img valign material-icons left" style="padding: 13px;" > @{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="postpic"><i class="material-icons right">add</i>Ajouter une photo</a></li>
            {% endif %}
        </ul>
    </div>
</nav>






