<!doctype html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="css/css.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KebabStagram</title>
</head>

<body>

<nav>
    <div class="nav-wrapper blue">
        <a href="/" class="brand-logo">Kebabstagram</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><form action="search" method="get"><input type="text"  placeholder="Recherche #Tag ou @User" name="recherche" id="recherche"></form></li>
            <li><a href="signin">Connexion</a></li>
            <li><a href="signup">Inscription</a></li>
            <li><a href="about">À propos</a></li>

        </ul>
    </div>
</nav>


