{% include "header.twig" %}
<nav>
	<div class="nav-wrapper blue">
		<a href="#" class="brand-logo">KebabStagram</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="connexion">Connexion</a></li>
			<li><a href="inscription">Inscription</a></li>
			<li><a href="about">À propos</a></li>
		</ul>
	</div>
</nav>
<row>
	<div class="col s12 green">
		<p>Tets</p>
	</div>
</row>
{% include"footer.twig" %}