<div>       <ul class="collection" style="width: 60%;  margin: auto; ">
    <li class="collection-item avatar">
        <img src="images/bg_home.bmp" alt="" class="circle">
<span class="title">@{{ user.username }}</span></li></ul></div>