
<div class="row" style="padding-top:5%;">
            <div class="col s10 offset-s1">
                <form id="my_form" class="" method="post" enctype="multipart/form-data" action="validpic">
                  <div class="input-field col s5">
                            <input type="text" class="" id="titre" name="title" placeholder="Tags of the pic">

                            <textarea class="materialize-textarea" rows="3" id="contenu" name="content" placeholder="Description of the article"></textarea>

                            <div class="chips chips-placeholder"><input type="chip" id="titre" name="tags"></div>
                  </div>
                  <div class="col s5 offset-s1" style="padding-top:5%;">
                    <div class="file-field input-field">
                      <div class="btn">
                        <span>A pic !</span>
                        <input type="file" name="image" accept="video/*,image/*">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" name="path_img">
                      </div>
                    </div>

                    <div id="image_preview">
                      <div class="thumbnail hiddendiv">
                          <img src="" alt="">
                      </div>
                    </div>


                      <button id="button_closepreview" type="button" class="btn red hiddendiv"><i class="material-icons">repeat</i></button>


                        <button id="button_sendpic" name="action" type="submit" class="btn waves-effect waves-light hiddendiv" >Envoyer<i class="material-icons right">send</i></button>

                  </div>
                </form>
            </div>
        </div>
