
<div class="row">
            <div class="col-lg-6">
                <form id="my_form" class="" method="post" enctype="multipart/form-data" action="validpic">
                    <fieldset>
                        <legend>Ajouter un article</legend>

                        <div class="">
                            <label for="titre" class="">Titre</label>
                            <div class="">
                                <input type="text" class="" id="titre" name="title" placeholder="Titre de l'article">
                            </div>
                        </div>

                        <div class="">
                            <label for="contenu" class="">Contenu</label>
                            <div class="">
                                <textarea class="" rows="3" id="contenu" name="content" placeholder="Contenu de l'article"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contenu" class="">Illustration</label>
                            <div class="col-lg-10">
                                <input type="file" class="" name="image" accept="image/*">
                            </div>
                        </div>

                        <div class="" style="margin-bottom: 0;">
                            <div id="image_preview" class="2">
                                <div class="thumbnail">
                                    <img src="" alt="">
                                    <div class="caption">
                                        <h4></h4>
                                        <p></p>
                                        <p><button type="button" class="btn">Annuler</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                                <button type="submit" class="btn" >Envoyer</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div id="result"><pre>Veuillez remplir le formulaire et cliquer sur "Envoyer".</pre></div>
            </div>
        </div>

