
<div class="row" style="padding-top:5%;">
            <div class="col s10 offset-s1">
                <form id="my_form" class="" method="post" enctype="multipart/form-data" action="validpic">
                  <div class="col s5">
                            <label for="titre" class="">#Tags</label><input type="text" class="" id="titre" name="title" placeholder="Tags of the pic">

                            <label for="contenu" class="">Description</label><textarea class="" rows="3" id="contenu" name="content" placeholder="Description of the article"></textarea>
                  </div>
                  <div class="col s5 offset-s3">

                            <label for="contenu" class="">Illustration</label><input type="file" name="image" accept="video/*,image/*">

                            <div id="image_preview">
                                <div class="thumbnail">
                                    <img src="" alt="">
                                    <div class="caption">
                                        <h4></h4>
                                        <p></p>
                                        <p><button type="button" class="btn">Annuler</button></p>
                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="col s2 offset-s3">
                        <button type="submit" class="btn" >Envoyer</button>
                    </div>
                </form>

                <div id="result"><pre>Veuillez remplir le formulaire et cliquer sur "Envoyer".</pre></div>
            </div>
        </div>
